<h1>id = <%= @tasky.id %> のタスク詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @tasky.id %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td><%= @tasky.status %></td>
  </tr>
  <tr>
    <th>タスク</th>
    <td><%= @tasky.content %></td>
  </tr>
</table>

<%= link_to 'このタスクを編集する', edit_tasky_path(@tasky), class: 'btn btn-default' %>
<%= link_to 'このタスクを削除する', @tasky, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
